<html xmlns:th="http://www.w3.org/1999/xhtml">
    <head th:fragment="head">
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta content="" name="description" />
        <meta content="webthemez" name="author" />
        <title>OptiDB</title>
        <!-- Bootstrap Styles-->
        <link href="webjars/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet" />
        <!-- FontAwesome Styles-->
        <link href="webjars/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet" />
        <!-- Custom Styles-->
        <link href="/css/custom-styles.css" rel="stylesheet" />
        <!-- Google Fonts-->
        <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css' />
        <script src="webjars/jquery/1.10.2/jquery.js"></script>
        <!-- Bootstrap Js -->
        <script src="webjars/bootstrap/3.3.4/js/bootstrap.min.js"></script>
        <script src="/js/jquery.metisMenu.js"></script>
        <script src="/js/custom-scripts.js"></script>
        <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.css">
        <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.js"></script>
    </head>
</html>