<html xmlns:th="http://www.w3.org/1999/xhtml">
    <nav th:fragment="navbar_side" class="navbar-default navbar-side" role="navigation">
        <div class="sidebar-collapse">
            <ul class="nav" id="main-menu">
                <li>
                    <a th:href="@{/home}"><i class="fa fa-dashboard"></i> Accueil</a>
                </li>
                <li>
                    <a th:href="@{/liste}"><i class="fa fa-desktop"></i>Liste des plateformes</a>
                </li>
                <li>
                    <a th:href="@{/simple}"><i class="fa fa-columns"></i>Comparatif simple</a>
                </li>
                <li>
                    <a th:href="@{/historique}"><i class="fa fa-book"></i>Historiques</a>
                </li>
            </ul>

        </div>

    </nav>
</html>