<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml">
<head th:include="/fragments/header :: head"></head>
<body>
<div id="wrapper">
    <!--/. NAV TOP  -->
    <nav th:insert="/fragments/navbar_top :: navbar_top"></nav>

    <!-- /. NAV SIDE  -->
    <nav th:insert="/fragments/navbar_side :: navbar_side"></nav>

    <!-- /. Page block  -->
    <div id="page-wrapper" >
        <div class="header">
            <h1 class="page-header">
                Test avec comparaison
            </h1>
        </div>
        <div id="page-inner">
            <!-- /. ROW  -->
            <div class="row" >

                    <div class="form-group">
                        <label class="control-label col-sm-2" for="nbCol">Nombre colonnes:</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="nbCol" size="15px" required>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-sm-2" for="nbLine">Nombre ligne:</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="nbLine" size="15px" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                    <div class="custom-control custom-radio">

                        <input type="radio" class="custom-control-input" value="1" id="prim1" name="prim" checked >
                        <label class="custom-control-label" for="prim1">Avec clé primaire</label>

                        <input type="radio" class="custom-control-input" value="0" id="prim0" name="prim">
                        <label class="custom-control-label" for="prim0">Sans clé primaire</label>

                    </div>
                        </div>
                    </div>
                    <div id="checkboxes">
                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <div class="checkbox">
                                <label><input name="mysql" id="mysql" type="checkbox"> Mysql</label>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <div class="checkbox">
                                <label><input name="mariadb" id="mariadb" type="checkbox"> MariaDB</label>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <div class="checkbox">
                                <label><input name="postgres" id="postgres" type="checkbox"> PostgreSql</label>
                            </div>
                        </div>
                    </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <button class="btn btn-default" onclick="checkData()">Tester</button>
                        </div>
                    </div>

            </div>
        </div>
    </div>
</div>
<script>
    function checkData()
    {
        var selected = [];
        var nbCol = $('#nbCol').val();
        var nbLine = $('#nbLine').val();
        var cle = $('input[name=prim]:checked').val();
        $('#checkboxes input:checked').each(function() {
            selected.push($(this).attr('name'));
        });

        if( nbCol.length === 0 || nbLine.length === 0  ) {
            alert('Vous devez remplir les champ');
            console.log('Vous devez remplir les champ');
        }
        else if (selected.length !== 2)
        {
            alert("Erreur vous ne pouvez cocher que 2 cases");
            console.log("Erreur vous ne pouvez cocher que 2 cases");
        }
            else
            {
                var bd1 = selected[0];
                var bd2 = selected[1];
                window.location.href = "http://localhost:8080/compare/"+bd1+"/"+bd2+"/"+nbCol+"/"+nbLine+"/"+cle;
            }

    }
</script>



</body>
</html>