<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml" xmlns:form="http://www.w3.org/1999/xhtml">
<head th:include="/fragments/header :: head"></head>
<body>
    <div id="wrapper">
        <!--/. NAV TOP  -->
        <nav th:insert="/fragments/navbar_top :: navbar_top"></nav>
        <!-- /. NAV SIDE  -->
        <nav th:insert="/fragments/navbar_side :: navbar_side"></nav>
        <div id="page-wrapper" >
            <div class="header">
                <h1 class="page-header">
                    Historique de vos tests
                </h1>
            </div>
            <div id="page-inner">
                <div class="row" >
                    <div class="col-sm-12 col-xs-12">
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <form action="#" th:action="@{/compareHistorique}"  method="post" id="formCompareHisto">
                                    <div class="form-group">
                                        <div class="checkbox col-sm-offset-2 col-sm-10" th:each="plt: ${liste}">
                                            <div class="checkbox3 checkbox-round">
                                                <input type="checkbox" name="compareHisto" th:value="@{|${plt}|}" th:onchange="choixPlt()" />
                                                <a th:text="${plt}" th:href="@{|/historique/${plt}|}"></a>
                                            </div>
                                        </div>
                                        <div class="col-sm-offset-2 col-sm-10">
                                            <p><input class="btn btn-default" type="submit" value="Submit" id="validCompareHist" style="display: none;" disabled /> <input class="btn btn-default" type="reset" value="Reset" /></p>
                                        </div>
                                    </div>
                                </form>
                            </div>
                    </div>
                <footer th:insert="/fragments/footer :: footer"></footer>
                </div>
            </div>
        </div>
    </body>
    </html>