<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head th:include="/fragments/header :: head"><link th:href="@{/css/main.css}" rel="stylesheet" /></head>


<body th:fragment="body">
<div id="wrapper">
    <div th:include="/fragments/menu :: navigation"></div>
    <!-- /. NAV SIDE  -->

    <div id="page-wrapper" >
        <div class="header">
            <h1 class="page-header">
                Page d'accueil
            </h1>
        </div>
        <div id="page-inner">


            <div class="row" >
                <p><b>OptiDB</b> est le fruit du travail de trois étudiants de Master MIAGE à l'Université Paris-Nanterre : Haseeb CHAUDHRY
                , Damien JAIME et Anthony Nascimento</p>
                <p>Il vise à aider au choix d'une solution de Big Data.</p>
            </div>
            <!-- /. ROW  -->


            <footer><p>All right reserved. Template by: <a href="http://webthemez.com">WebThemez.com</a></p>


            </footer>
        </div>
        <!-- /. PAGE INNER  -->
    </div>
    <!-- /. PAGE WRAPPER  -->
</div>

</body>

</html>