<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head th:include="/fragments/header :: head"></head>

<body>
<div id="wrapper">
    <!--/. NAV TOP  -->
    <nav th:insert="/fragments/navbar_top :: navbar_top"></nav>

    <!-- /. NAV SIDE  -->
    <nav th:insert="/fragments/navbar_side :: navbar_side"></nav>

    <!-- /. Page block  -->
    <div id="page-wrapper" >
        <div class="header">
            <h1 class="page-header">
                Page d'accueil
            </h1>
        </div>
        <div id="page-inner">
            <!-- /. ROW  -->
            <div class="row">
                <div class="col-md-2">
                    <img src="http://localhost:8080/logo-optidb.png"/>
                </div>
                <div class="col-md-10">
                    <p>
                        Bienvenue sur <b>OptiDB</b>, notre application pour comparer les solutions, les systèmes de gestion
                        de bases de données. Elle vous permettra de comparer les possibilités de chacun d'entre eux afin de
                        vous aider à choisir celui qui conviendrait au mieux à vos besoins.</p>
                </div>
            </div>
            <div class="row" >

                <footer th:insert="/fragments/footer :: footer"></footer>
            </div>

        </div>
        <!-- /. PAGE INNER  -->
    </div>
    <!-- /. PAGE WRAPPER  -->
</div>

</body>