<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>test</title>
    <link href="/css/main.css" rel="stylesheet" />
    <link href="webjars/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet" />
</head>
<body>
<table>
    <thead>
    <tr>
        <th >Name</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="plt: ${liste}">
        <td th:text="${plt.name}"></td>
    </tr>
    </tbody>
</table>

<form class="form-inline">
    <div class="form-group">
        <label class="sr-only" for="exampleInputAmount">Amount (in dollars)</label>
        <div class="input-group">
            <div class="input-group-addon">$</div>
            <input type="text" class="form-control" id="exampleInputAmount" placeholder="Amount">
            <div class="input-group-addon">.00</div>
        </div>
    </div>
    <button type="submit" class="btn btn-primary">Transfer cash</button>
</form>

<i class="fa fa-fw fa-file"></i>

</body>
</html>