<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
                xmlns="http://www.w3.org/1999/xhtml">
<head th:include="/fragments/header :: head"></head>
    <body>
        <div id="wrapper">
            <!--/. NAV TOP  -->
            <nav th:insert="/fragments/navbar_top :: navbar_top"></nav>

            <!-- /. NAV SIDE  -->
            <nav th:insert="/fragments/navbar_side :: navbar_side"></nav>

            <!-- /. Page block  -->
            <div id="page-wrapper" >
                <div class="header">
                    <h1 class="page-header">
                        Liste des plateformes
                    </h1>
                </div>
                <div id="page-inner">
                    <!-- /. ROW  -->
                    <div class="row" >
                        <table class="table table-striped" id="table_id">
                            <thead>
                            <tr>
                                <th >Nom</th>
                                <th >Nombre de colonnes</th>
                                <th >Nombre de lignes</th>
                                <th >Envoyer</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="plt: ${listePlateformes}">
                                <td th:text="${plt.name}"></td>
                                <td><input type="text" name="nbCol" th:id="${plt.name+'nbCol'}"></td>
                                <td><input type="text" name="nbLines" th:id="${plt.name+'nbLines'}"></td>
                                <td><input th:id="${plt.name}" type="button" value="Envoyer" onclick="envoyer(this)"/></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <footer th:insert="/fragments/footer :: footer"></footer>
                </div>
                <!-- /. PAGE INNER  -->
            </div>
            <!-- /. PAGE WRAPPER  -->
        </div>
        <script src="/js/dataTable.js"></script>
    <script>
        function envoyer(ele)
        {
            var db = ele.id;
            var col = db+"nbCol";
            var lines = db+"nbLines";
            var nbCol = $('#'+col+'').val();
            var nbLines = $('#'+lines+'').val();
            window.location.href = "http://localhost:8080/platform/"+db+"/"+nbCol+"/"+nbLines;
        }
    </script>
    </body>

</html>
