<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head th:include="/fragments/header :: head"></head>


<body>
<div id="wrapper">
    <!--/. NAV TOP  -->
    <nav th:insert="/fragments/navbar_top :: navbar_top"></nav>

    <!-- /. NAV SIDE  -->
    <nav th:insert="/fragments/navbar_side :: navbar_side"></nav>

    <!-- /. Page block  -->
    <div id="page-wrapper" >
        <div class="header">
            <h1 class="page-header">
                Statistiques de <span th:text="${platform.getPlatformName()}"/>
            </h1>
        </div>
        <div id="page-inner">


            <div class="row" >

                <div class="col-sm-6 col-xs-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <div class="card-title">
                                <div class="title">Info Système</div>
                            </div>
                        </div>
                        <div class="panel-body">
                            <p>
                                Systeme d'exploitation: Ubuntu 16.04.1<br/>
                                OSType: linux<br/>
                                Architecture: x86_64<br/>
                                CPUs: 1<br/>
                                Ram: 1.953 GiB<br/>
                            </p>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6 col-xs-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <div class="card-title">
                                <div class="title">Representation des temps de requête en milliseconde</div>
                            </div>
                        </div>
                        <div class="panel-body">
                            <ul>
                                <li>Nombre de colonnes : <span th:text="${platform.getNbCol()}"/> </li>
                                <li>Nombre de lignes : <span th:text="${platform.getNbLine()}"/></li>
                                <li>Temps de création : <span th:text="${platform.getTempsCreate()}"/>  Millisecondes </li>
                                <li>Temps de modification : <span th:text="${platform.getTempsUpdate()}"/> Millisecondes </li>
                                <li>Temps de selection : <span th:text="${platform.getTempsSelect()}"/> Millisecondes </li>
                                <li>Temps de suppression : <span th:text="${platform.getTempsDelete()}"/> Millisecondes </li>
                                <li>Temps de modification de la table : <span th:text="${platform.getTempsAlter()}"/> Millisecondes </li>
                                <li>Temps de suppression de la table : <span th:text="${platform.getTempsDrop()}"/> Millisecondes </li>
                                <li>Temps de tous les nupplet de table : <span th:text="${platform.getTempsSelectAll()}"/> Millisecondes </li>
                                <li>Liste des temps d'insertion : <span th:text="${platform.getListeInsert()}"/> Millisecondes </li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6 col-xs-12">
                    <div class="panel panel-default chartJs">
                        <div class="panel-heading">
                            <div class="card-title">
                                <div class="title">Répartition du temps total de l'execution</div>
                            </div>
                        </div>
                        <div class="panel-body">
                            <canvas id="pie-chart" class="chart"></canvas>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6 col-xs-12">
                    <div class="panel panel-default chartJs">
                        <div class="panel-heading">
                            <div class="card-title">
                                <div class="title">Temps d'insertion en milliseconde en fonction du nombre de ligne</div>
                            </div>
                        </div>
                        <div class="panel-body">
                            <canvas id="line-chart" class="chart"></canvas>
                        </div>
                    </div>
                </div>


            </div>
            <!-- /. ROW  -->


            <footer><p>All right reserved. Template by: <a href="http://webthemez.com">WebThemez.com</a></p>

            </footer>
        </div>
        <!-- /. PAGE INNER  -->
    </div>
    <!-- /. PAGE WRAPPER  -->
</div>

<script src="/js/Chart.min.js"></script>
<script>

    $(function() {
        var create = [[${platform.getTempsCreate()}]];
        var update = [[${platform.getTempsUpdate()}]];
        var select = [[${platform.getTempsSelect()}]];
        var selectAll = [[${platform.getTempsSelectAll()}]];
        var del = [[${platform.getTempsDelete()}]];
        var alter = [[${platform.getTempsAlter()}]];
        var drop = [[${platform.getTempsDrop()}]];
        var ctx, data, myLineChart, options;
        Chart.defaults.global.responsive = true;
        ctx = $('#pie-chart').get(0).getContext('2d');
        options = {
            showScale: false,
            scaleShowGridLines: false,
            scaleGridLineColor: "rgba(0,0,0,.05)",
            scaleGridLineWidth: 0,
            scaleShowHorizontalLines: false,
            scaleShowVerticalLines: false,
            bezierCurve: false,
            bezierCurveTension: 0.4,
            pointDot: false,
            pointDotRadius: 0,
            pointDotStrokeWidth: 2,
            pointHitDetectionRadius: 20,
            datasetStroke: true,
            datasetStrokeWidth: 4,
            datasetFill: true,
            legendTemplate: "<ul class=\"<%=name.toLowerCase()%>-legend\"><% for (var i=0; i<datasets.length; i++){%><li><span style=\"background-color:<%=datasets[i].strokeColor%>\"></span><%if(datasets[i].label){%><%=datasets[i].label%><%}%></li><%}%></ul>"
        };
        data = [
            {
                value: create,
                color: "#3fe143",
                highlight: "#3fe143",
                label: "Create"
            }, {
                value: update,
                color: "#faf651",
                highlight: "#faf651",
                label: "Update"
            }, {
                value: select,
                color: "#6175fa",
                highlight: "#6175fa",
                label: "Select"
            }, {
                value: selectAll,
                color: "#26dcf9",
                highlight: "#26dcf9",
                label: "SelectAll"
            }, {
                value: del,
                color: "#fa605d",
                highlight: "#fa605d",
                label: "Delete"
            }, {
                value: alter,
                color: "#ffb138",
                highlight: "#ffb138",
                label: "Alter"
            }, {
                value: drop,
                color: "#fa7abe",
                highlight: "#fa7abe",
                label: "Drop"
            }
        ];
        myLineChart = new Chart(ctx).Pie(data, options);
    });




    $(function()
    {
        var nbLine = [[${platform.getNbLine()}]];
        var listeInsert = [[${platform.getListeInsert()}]];
        var tab = [];
        for(var i=1;i<=10;i++)
        {
            tab.push(parseInt((nbLine*(10/100))*i));
        }

        var ctx, data, myLineChart, options;
        Chart.defaults.global.responsive = true;
        ctx = $('#line-chart').get(0).getContext('2d');
        options = {
            scaleShowGridLines: true,
            scaleGridLineColor: "rgba(0,0,0,.05)",
            scaleGridLineWidth: 1,
            scaleShowHorizontalLines: true,
            scaleShowVerticalLines: true,
            bezierCurve: false,
            bezierCurveTension: 0.4,
            pointDot: true,
            pointDotRadius: 4,
            pointDotStrokeWidth: 1,
            pointHitDetectionRadius: 20,
            datasetStroke: true,
            datasetStrokeWidth: 2,
            datasetFill: true,
            legendTemplate: "<ul class=\"<%=name.toLowerCase()%>-legend\"><% for (var i=0; i<datasets.length; i++){%><li><span style=\"background-color:<%=datasets[i].strokeColor%>\"></span><%if(datasets[i].label){%><%=datasets[i].label%><%}%></li><%}%></ul>"
        };
        data = {
            labels: tab,
            datasets: [
                {
                    label: "My First dataset",
                    fillColor: "rgba(26, 188, 156,0.2)",
                    strokeColor: "#228dbc",
                    pointColor: "#228dbc",
                    pointStrokeColor: "#fff",
                    pointHighlightFill: "#fff",
                    pointHighlightStroke: "#228dbc",
                    data: listeInsert
                }
            ]
        };
        myLineChart = new Chart(ctx).Line(data, options);
    });

</script>


</body>

</html>
