<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head th:include="/fragments/header :: head"><link th:href="@{/css/main.css}" rel="stylesheet" /></head>


<body th:fragment="body">
<div id="wrapper">
    <div th:include="/fragments/menu :: navigation"></div>
    <!-- /. NAV SIDE  -->

    <div id="page-wrapper" >
        <div class="header">
            <h1 class="page-header">
                Statistiques de <span th:text="${platform.getPlatformName()}"/>
            </h1>
        </div>
        <div id="page-inner">


            <div class="row" >
                <ul>
                    <li>Temps de création : <span th:text="${platform.getTempsCreate()}"/>  secondes </li>
                    <li>Temps d'insertion : <span th:text="${platform.getTempsInsert()}"/> secondes </li>
                    <li>Temps de suppression : <span th:text="${platform.getTempsInsert()}"/> secondes </li>
                </ul>
            </div>
            <!-- /. ROW  -->


            <footer><p>All right reserved. Template by: <a href="http://webthemez.com">WebThemez.com</a></p>

            </footer>
        </div>
        <!-- /. PAGE INNER  -->
    </div>
    <!-- /. PAGE WRAPPER  -->
</div>

</body>

</html>
